body,
html {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


  .box {
    display: flex;
    width: 500px;
    height: 300px;
    border: 5px solid;
    background-color: rgb(214, 214, 211);
    padding: 10px;
    margin: 0 auto;
    justify-content:center ;
    align-items: center;


  }
  
  .box .titulo {
    margin: 0;
    font-size: 40px;
    color: rgb(7, 7, 7);
  }
  
 

  .botao {
    display: flex;
    height: 40px;
    width: 30px;
    gap: 350px;
  }
  
  .box #conteudo {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

  }